.country {
  border: 2px solid rgba(255, 99, 71, 0.5);
  width: 300px;
  border-radius: 1rem;
  padding: 1rem;
  /* margin: // */
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
img {
  border-radius: 1rem;
  width: 280px;
  height: 180px;
  margin: 0 auto;
}

.visited-country {
  background-color: cadetblue;
  color: black;
  border: none;
}
/* .visited-btn {
  transform: translate(250px, 0px);
} */
